* {
   background-color: var(--bg-color);
   box-sizing: border-box;
   font-family: 'Podkova';
   font-style: normal;
   font-weight: 400;
}
   
body, div, article, aside, header, footer, main, nav, section, ul, ol, li, button, figure, picture, hr {
   display: flex;
}

body {
   flex-direction: column;
   margin: 0;
}
