@font-face {
    font-family: 'Podkova';
    src: local("Podkova-Regular"), url("../fonts/static/Podkova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Podkova';
    src: local("Podkova-Medium"), url("../fonts/static/Podkova-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Podkova';
    src: local("Podkova-SemiBold"), url("../fonts/static/Podkova-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Podkova';
    src: local("Podkova-Bold"), url("../fonts/static/Podkova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Podkova';
    src: local("Podkova-ExtraBold"), url("../fonts/static/Podkova-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bolder;
}

@font-face {
   font-family: 'Roboto';
   src: local("Roboto-Light"), url("../fonts/static/Roboto-Light.ttf") format("truetype");
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: 'Roboto';
   src: local("Roboto-Regular"), url("../fonts/static/Roboto-Regular.ttf") format("truetype");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: 'Roboto';
   src: local("Roboto-Medium"), url("../fonts/static/Roboto-Medium.ttf") format("truetype");
   font-style: normal;
   font-weight: 600;
}

@font-face {
   font-family: 'Roboto';
   src: local("Roboto-Bold"), url("../fonts/static/Roboto-Bold.ttf") format("truetype");
   font-style: normal;
   font-weight: bold;
}