.cards {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  
  
    .card{
      margin: 10px;
      flex-direction: row;
      width: 350px;
      height: 150px;
      background-color: white;
      color: black;
      border-radius: 10px;
      padding: 10px;
      .number-order{
        margin-left: -10px;
        transform: rotate(-90deg);
        font-weight: 600;
        font-size: 24px;
        width: 137px;
  
      }
      .info-order{
        .order-title{
          margin-left: -90px;
          height: 33px;
          width: 235px;
          background-color:#DD0E0E;
          position: absolute;
          text-transform: uppercase;
          color: white;
          justify-content: space-between;
          align-items: center;
          h3{
            margin-left: 20px;
            font-weight: 600;
          }
        }
        table{
          margin-top: 38px;
          width: 235px;
          margin-left: -93px;
          tr{
            .right{
              text-align: right;
            }
          }
        }
      }
      .btns{
        flex-direction: column;
        border-left: 1px dashed black;
        width: 30px;
        margin-left: 10px;
        a{
          padding: 9px 15px;
        }
      }
    }
  }
  
  @media(min-width: 900px){
    .cards{
      padding: 10px;
      flex-direction: row;
      align-items: center;
    }
  }
  