.page{
  flex-direction: column;
  height: calc(100vh - 140px);
  overflow: auto;
  aside{
    width: 100vw;
    position: fixed;
    color: #1F2525;
    bottom: 0;
    background-color: #FFF;
    height: 80px;   
    z-index: 4;    
    header, section, .footer-btn{
      display: none;      
    }
    .order{    
      width: 100%;  
      flex-direction: row;        
      .left{
        align-items: center;
        font-weight: 600;
        font-size: 15px;
        margin-left: 10px;
        width: 100%;
        > .text{
          justify-content: space-between;
          align-items: left;
          flex-direction: column;
          margin-left: 15px;
          strong{
            font-weight: 600;
          }
        }
      }
      .right{      
        width: 110%;
        height: 80px;
        background-color: #E3E3E3;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;        
        .price{
          text-transform: uppercase;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          margin: var(--space);
          font-weight: 600;
          font-size: 22px;
          > small{
            font-size: 10px;
            margin-right: -40px;
            
          }                
        }
        .icon{        
          float: right;
          background-color: red;
          width: 100px;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          &:hover{
            background-color: var(--red-active);
            cursor: pointer;
          }
          svg{
            margin-top: 20px;
          }
          a{
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 14px;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    
  }
  
}
.btn{
  @include button-red;
}


@media(min-width: 900px){

  .page{   
    aside{
      width: 300px;
      height: calc(100vh);
      margin-left: calc(100vw - 300px);
      flex-direction: column;
      header, section, .footer-btn{
        display: flex;
      }
      section{
        margin-top: 30px;
        width: 100%;
        height: 1;
        display: block;
        flex-wrap: wrap;
        left: 10px;        
        .content{
          justify-content: space-between;
          align-items: center;          
          font-size: 1em;
          line-height: 1.5em;
          width: 90%;          
          border-bottom: dotted 2px;        
          span{
            font-weight: 600;
          }
          

        }
        .content + .content{
          padding-top: 20px;
        }
      }
      .footer-btn{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #1F2525;
        width: calc(100% - 300px);
        height: 80px;
        padding: 12px;

      }
      .order{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;
        
        .left{
          display: none;
        }
        .right{         
          width: 100%;
        } 
      }
      .text{
        margin-top: 6px;
        align-items: left;
        flex-direction: column;
        strong{
          font-weight: 600;
        }
        small{
          font-size: 18px;
        }
      }
    }
  }
}
