section{
  position: relative;
  
  #title{
    width: 100%;
    min-height: 80px;    
    color: var(--white);
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 2000px rgba(7, 12, 12, 0.55);
    position: absolute; 
    margin-top: -80px;
    > h1{
      span{ 
        color: red;
      }
    }
  }
  main{
    margin: 0px 30px;
    margin-bottom: 90px;
    .options{
      margin-top: 20px;
      flex-direction: column;
      
      label {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        
        .square {
            width: 24px;
            height: 24px;
            border: var(--red) 1px solid;
            justify-content: center;
            align-items: center;
    
            >div {
                width: 14px;
                height: 14px;
                background-color: var(--red);
                opacity: 0;
                transition: all .2s ease-out;
            }
        }
    
        &:hover {
            .square {
                border: var(--red-hover) 1px solid;
                >div {
                    opacity: 0.2;
                }
            }
        }
    
        input {
            display: none;
    
            &:checked+.square {
                >div {
                    opacity: 1;
                    background-color: var(--red-active);
                }
            }
        }
    
        .content {
            flex-direction: row;
            padding-left: 10px;
            font-size: 1em;          
            line-height: 1.5em;
            width: 80%;
            left: 70px;
            position: absolute;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px;
            color: var(--red);
            
            .name {
              margin-left: -10px;     
              font-weight: 600;
            }
    
            .price {
                font-weight: 600;
            }
        }
      }
    }
  }
}