main {
   width: 100%;
   height: 276px;
   background-color: var(--black);

   .nav_tabs {
      width: 350px;
      height: 300px;
      margin: 10px auto 10px;
      background-color: var(--black);

      ul {
         width: 350px;
         height: 276px;
         list-style: none;
         margin-top: 20px;
         padding: 0;
         display: flex;
         background-color:#DD0E0E;
         ;

         li {
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            width: 175px;
            height: 64px;
            padding: 0;
         }        
      }

      label {
         width: 175px;
         height: 64px;
         padding: 20px;
         background-color: var(--red-hover);
         color: var(--white);
         cursor: pointer;
         text-align: center;
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
      }                       
   }
}


.rd_tabs:checked ~ label {
   background-color: #DD0E0E;
}

.rd_tabs {
   display: none;
}





