@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Nothing";
  src: local("Nothing You Could Do"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Teko";
  src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
:root {
  --white: #FFF;
  --black: #000;
  --black-hover: #111;
  --black-active: #222;
  --black-10: #0000001a;
  --black-50: rgba(0, 0, 0, .5);
  --black-75: #000000bf;
  --dark-0: #333;
  --dark-1: #000000BF;
  --gray: #79756C;
  --gray-0: #707070;
  --gray-1: #7E7E7E;
  --gray-2: #9A9A99;
  --gray-3: #CCC;
  --gray-4: #00000029;
  --gray-5: #E5E3DFBF;
  --gray-6: #F8F8F8;
  --gray-7: #E5E3DF;
  --gray-8: #DDD;
  --gray-9: #999;
  --gray-10: #EEE;
  --gray-11: #444;
  --gray-12: #E8E8E8;
  --red: rgba(255, 82 ,82, 0.7);
  --red-1: #DD0E0E;
  --red-hover: #E4423B;
  --red-active: #e42323;
  --green: #00994D;
  --green-hover: #00BE60;
  --green-active: #00773C;
  --blue: #00A0E6;
  --blue-hover: #1CABE9;
  --blue-active: #199BD4;
  --success: #D4EDDA;
  --success-border: #C3E6CB;
  --success-color: #155724;
  --danger: #F8D7DA;
  --danger-border: #F5C6CB;
  --danger-color: #721C24;
  --space: 20px;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
}
body > main {
  min-height: calc(100vh - 400px);
}

hr.divider {
  background-color: var(--gray-3);
  height: 1px;
  width: calc(100% - 2em);
  margin: 3em 0;
  border: none;
  align-self: center;
}

@media (min-width: 1200px) {
  body > main {
    min-height: calc(100vh - 341px);
  }
}
#header {
  background-image: url("../images/burgues-mibi.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 290px;
  box-shadow: inset 0 0 0 2000px rgba(7, 12, 12, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  z-index: 1;
}
#header .logo-mobile {
  position: absolute;
  top: 55px;
  right: calc(40vw - 36px);
}
#header .logo-desktop {
  display: none;
}

@media (min-width: 900px) {
  #header {
    background-image: url("../images/burgues.png");
    width: 100%;
  }
  #header .logo-mobile {
    display: none;
  }
  #header .logo-desktop {
    display: flex;
    position: absolute;
    top: 55px;
    right: calc(50vw - 36px);
  }
}
section {
  position: relative;
}
section #title {
  width: 100%;
  min-height: 80px;
  color: var(--white);
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  margin-top: 0px;
}
section #title > h1 span {
  color: red;
}
section main {
  margin: 80px 30px;
  margin-bottom: 90px;
}
section main .options {
  margin-top: 20px;
  flex-direction: column;
}
section main .options label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
section main .options label .square {
  width: 24px;
  height: 24px;
  border: var(--red) 1px solid;
  justify-content: center;
  align-items: center;
}
section main .options label .square > div {
  width: 14px;
  height: 14px;
  background-color: var(--red);
  opacity: 0;
  transition: all 0.2s ease-out;
}
section main .options label:hover .square {
  border: var(--red-hover) 1px solid;
}
section main .options label:hover .square > div {
  opacity: 0.2;
}
section main .options label input {
  display: none;
}
section main .options label input:checked + .square > div {
  opacity: 1;
  background-color: var(--red-active);
}
section main .options label .content {
  flex-direction: row;
  padding-left: 10px;
  font-size: 1em;
  line-height: 1.5em;
  width: 80%;
  left: 70px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  border-bottom: dotted 2px;
  color: var(--red);
}
section main .options label .content .name {
  margin-left: -10px;
  font-weight: 600;
}
section main .options label .content .price {
  font-weight: 600;
}

@media (min-width: 900px) {
  section #title {
    justify-content: left;
  }
  section #title h1 {
    margin-left: 30px;
  }
  section main .options label .content {
    width: 45%;
  }
}
.page {
  flex-direction: column;
  height: calc(100vh - 140px);
  overflow: auto;
}
.page aside {
  width: 100vw;
  position: fixed;
  color: #1F2525;
  bottom: 0;
  background-color: #FFF;
  height: 80px;
  z-index: 4;
}
.page aside header, .page aside section, .page aside .footer-btn {
  display: none;
}
.page aside .order {
  width: 100%;
  flex-direction: row;
}
.page aside .order .left {
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
  width: 100%;
}
.page aside .order .left > .text {
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  margin-left: 15px;
}
.page aside .order .left > .text strong {
  font-weight: 600;
}
.page aside .order .right {
  width: 110%;
  height: 80px;
  background-color: #E3E3E3;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.page aside .order .right .price {
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: var(--space);
  font-weight: 600;
  font-size: 22px;
}
.page aside .order .right .price > small {
  font-size: 10px;
  margin-right: -40px;
}
.page aside .order .right .icon {
  float: right;
  background-color: red;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.page aside .order .right .icon:hover {
  background-color: var(--red-active);
  cursor: pointer;
}
.page aside .order .right .icon svg {
  margin-top: 20px;
}
.page aside .order .right .icon a {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
  color: white;
  text-decoration: none;
}

.btn {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: transparent;
  color: var(--black);
  background-color: var(--red-1);
  color: var(--white);
}
.btn:hover {
  background-color: var(--black-10);
}
.btn:active {
  background-color: var(--black-75);
}
.btn:hover {
  background-color: var(--red-hover);
}
.btn:active {
  background-color: var(--red-active);
}

@media (min-width: 900px) {
  .page aside {
    width: 300px;
    height: 100vh;
    margin-left: calc(100vw - 300px);
    flex-direction: column;
  }
  .page aside header, .page aside section, .page aside .footer-btn {
    display: flex;
  }
  .page aside section {
    margin-top: 30px;
    width: 100%;
    height: 1;
    display: block;
    flex-wrap: wrap;
    left: 10px;
  }
  .page aside section .content {
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    line-height: 1.5em;
    width: 90%;
    border-bottom: dotted 2px;
  }
  .page aside section .content span {
    font-weight: 600;
  }
  .page aside section .content + .content {
    padding-top: 20px;
  }
  .page aside .footer-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1F2525;
    width: calc(100% - 300px);
    height: 80px;
    padding: 12px;
  }
  .page aside .order {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
  }
  .page aside .order .left {
    display: none;
  }
  .page aside .order .right {
    width: 100%;
  }
  .page aside .text {
    margin-top: 6px;
    align-items: left;
    flex-direction: column;
  }
  .page aside .text strong {
    font-weight: 600;
  }
  .page aside .text small {
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
