@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Nothing";
  src: local("Nothing You Could Do"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Teko";
  src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
:root {
  --white: #FFF;
  --black: #000;
  --black-hover: #111;
  --black-active: #222;
  --black-10: #0000001a;
  --black-50: rgba(0, 0, 0, .5);
  --black-75: #000000bf;
  --dark-0: #333;
  --dark-1: #000000BF;
  --dark-band: #3A1C1C;
  --dark-background: #250303;
  --gray: #79756C;
  --gray-0: #707070;
  --gray-1: #7E7E7E;
  --gray-2: #9A9A99;
  --gray-3: #CCC;
  --gray-4: #00000029;
  --gray-5: #E5E3DFBF;
  --gray-6: #F8F8F8;
  --gray-7: #E5E3DF;
  --gray-8: #DDD;
  --gray-9: #999;
  --gray-10: #EEE;
  --gray-11: #444;
  --gray-12: #E8E8E8;
  --red: rgba(255, 82 ,82, 0.7);
  --red-1: rgba(221, 14, 14, 1);
  --red-auth: #DD0E0E;
  --red-button-auth:rgba(221, 14, 14, 0.54);
  --red-hover: #E4423B;
  --red-active: #e42323;
  --green: #00994D;
  --green-hover: #00BE60;
  --green-active: #00773C;
  --blue: #00A0E6;
  --blue-hover: #1CABE9;
  --blue-active: #199BD4;
  --success: #D4EDDA;
  --success-border: #C3E6CB;
  --success-color: #155724;
  --danger: #F8D7DA;
  --danger-border: #F5C6CB;
  --danger-color: #721C24;
  --space: 20px;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
}
body > main {
  min-height: calc(100vh - 400px);
}

hr.divider {
  background-color: var(--gray-3);
  height: 1px;
  width: calc(100% - 2em);
  margin: 3em 0;
  border: none;
  align-self: center;
}

@media (min-width: 1200px) {
  body > main {
    min-height: calc(100vh - 341px);
  }
}
#header {
  background-image: url("../images/burgues-mibi.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 290px;
  box-shadow: inset 0 0 0 2000px rgba(7, 12, 12, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  z-index: 1;
}
#header .logo-mobile {
  position: absolute;
  top: 55px;
  right: calc(40vw - 36px);
}
#header .logo-desktop {
  display: none;
}
#header .logo-desktop-app {
  display: none;
}

@media (min-width: 900px) {
  #header {
    background-image: url("../images/burgues.png");
    width: 100%;
  }
  #header .logo-mobile {
    display: none;
  }
  #header .logo-desktop {
    display: flex;
    position: absolute;
    top: 55px;
    right: calc(38vw - 36px);
  }
  #header .logo-desktop-app {
    display: flex;
    position: absolute;
    top: 55px;
    right: calc(50vw - 36px);
  }
}
section {
  position: relative;
}
section #title {
  width: 100%;
  min-height: 80px;
  color: var(--white);
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  margin-top: 0px;
}
section #title > h1 span {
  color: red;
}
section #title-center {
  width: 100%;
  min-height: 80px;
  color: var(--white);
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  margin-top: 0px;
}
section main {
  margin: 80px 30px;
  margin-bottom: 90px;
}
section main .options {
  margin-top: 20px;
  flex-direction: column;
}
section main .options label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
section main .options label .square {
  width: 24px;
  height: 24px;
  border: var(--red) 1px solid;
  justify-content: center;
  align-items: center;
}
section main .options label .square > div {
  width: 14px;
  height: 14px;
  background-color: var(--red);
  opacity: 0;
  transition: all 0.2s ease-out;
}
section main .options label:hover .square {
  border: var(--red-hover) 1px solid;
}
section main .options label:hover .square > div {
  opacity: 0.2;
}
section main .options label input {
  display: none;
}
section main .options label input:checked + .square > div {
  opacity: 1;
  background-color: var(--red-active);
}
section main .options label .content {
  flex-direction: row;
  padding-left: 10px;
  font-size: 1em;
  line-height: 1.5em;
  width: 80%;
  left: 70px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  border-bottom: dotted 2px;
  color: var(--red);
}
section main .options label .content .name {
  margin-left: -10px;
  font-weight: 600;
}
section main .options label .content .price {
  font-weight: 600;
}

@media (min-width: 900px) {
  section #title {
    justify-content: left;
  }
  section #title h1 {
    margin-left: 30px;
  }
  section main .options label .content {
    width: 45%;
  }
}
.page {
  flex-direction: column;
  height: calc(100vh - 140px);
  overflow: auto;
}
.page aside {
  width: 100vw;
  position: fixed;
  color: #1F2525;
  bottom: 0;
  background-color: #FFF;
  height: 80px;
  z-index: 4;
}
.page aside header, .page aside section, .page aside .footer-btn {
  display: none;
}
.page aside .order {
  width: 100%;
  flex-direction: row;
}
.page aside .order .left {
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
  width: 100%;
}
.page aside .order .left > .text {
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  margin-left: 15px;
}
.page aside .order .left > .text strong {
  font-weight: 600;
}
.page aside .order .right {
  width: 110%;
  height: 80px;
  background-color: #E3E3E3;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.page aside .order .right .price {
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: var(--space);
  font-weight: 600;
  font-size: 22px;
}
.page aside .order .right .price > small {
  font-size: 10px;
  margin-right: -40px;
}
.page aside .order .right .icon {
  float: right;
  background-color: red;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.page aside .order .right .icon:hover {
  background-color: var(--red-active);
  cursor: pointer;
}
.page aside .order .right .icon svg {
  margin-top: 20px;
}
.page aside .order .right .icon a {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
  color: white;
  text-decoration: none;
}

.btn {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: transparent;
  color: var(--black);
  background-color: var(--red-1);
  color: var(--white);
}
.btn:hover {
  background-color: var(--black-10);
}
.btn:active {
  background-color: var(--black-75);
}
.btn:hover {
  background-color: var(--red-hover);
}
.btn:active {
  background-color: var(--red-active);
}

@media (min-width: 900px) {
  .page aside {
    width: 300px;
    height: 100vh;
    margin-left: calc(100vw - 300px);
    flex-direction: column;
  }
  .page aside header, .page aside section, .page aside .footer-btn {
    display: flex;
  }
  .page aside section {
    margin-top: 30px;
    width: 100%;
    height: 1;
    display: block;
    flex-wrap: wrap;
    left: 10px;
  }
  .page aside section .content {
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    line-height: 1.5em;
    width: 90%;
    border-bottom: dotted 2px;
  }
  .page aside section .content span {
    font-weight: 600;
  }
  .page aside section .content + .content {
    padding-top: 20px;
  }
  .page aside .footer-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1F2525;
    width: calc(100% - 300px);
    height: 80px;
    padding: 12px;
  }
  .page aside .order {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
  }
  .page aside .order .left {
    display: none;
  }
  .page aside .order .right {
    width: 100%;
  }
  .page aside .text {
    margin-top: 6px;
    align-items: left;
    flex-direction: column;
  }
  .page aside .text strong {
    font-weight: 600;
  }
  .page aside .text small {
    font-size: 18px;
  }
}
#payment {
  position: relative;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}
#payment #title {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 80px;
  min-height: 80px;
  width: 100vw;
}
#payment > main {
  top: 80;
  position: relative;
  width: 100vw;
  max-width: 600px;
}
#payment > main form {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
}
#payment > main form .form-fields {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 16px;
  padding-bottom: 66px;
  flex-direction: column;
  width: 100%;
}
#payment > main form .form-fields .fields {
  justify-content: space-between;
  flex-direction: row;
}
#payment > main form .form-fields .fields .field {
  width: calc(50% - 7.5px);
}
#payment > main form .form-fields .field {
  position: relative;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
#payment > main form .form-fields .field label {
  color: var(--gray-3);
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: color 0.3s ease-in-out;
  z-index: 2;
}
#payment > main form .form-fields .field input, #payment > main form .form-fields .field textarea, #payment > main form .form-fields .field select {
  border: var(--gray-3) 1px solid;
  line-height: 1.5em;
  padding: 10px;
  padding-top: 33px;
  font-size: 16px;
  color: var(--dark-0);
  outline: none;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
  top: 0;
  transition: border-color 0.3 ease-in-out;
  width: 100%;
  background-color: transparent;
}
#payment > main form .form-fields .field input:focus, #payment > main form .form-fields .field textarea:focus, #payment > main form .form-fields .field select:focus {
  border: none;
  color: var(--black);
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 0;
}
#payment > main form .form-fields .field input:focus + label, #payment > main form .form-fields .field textarea:focus + label, #payment > main form .form-fields .field select:focus + label {
  color: var(--gray-0);
  text-transform: uppercase;
}
#payment > main .btn-fixed {
  padding: 0px;
  width: 100%;
  position: relative;
}
#payment > main .btn-fixed button {
  justify-content: center;
  align-items: center;
  border: none;
  display: flex;
  width: 100%;
  height: 64px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: solid;
  cursor: pointer;
}
#payment > main .btn-fixed button:hover {
  background-color: var(--red-hover);
}
#payment > main .btn-fixed button:active {
  background-color: var(--red-active);
}

#body-auth {
  position: relative;
  background-color: var(--dark-background);
  background-image: url("../images/backgrond-auth.png");
}

#header-auth {
  flex-direction: row;
  justify-content: center;
  min-width: 380px;
  width: 100vw;
  height: 350px;
}
#header-auth .logo-mobile-auth {
  position: absolute;
  top: 43px;
}
#header-auth .logo-desktop-auth {
  display: none;
}

.band-auth {
  min-width: 380px;
  background-color: var(--dark-band);
  position: absolute;
  justify-content: center;
  width: 100vw;
  height: 80px;
  top: 300px;
}
.band-auth .buttons-auth {
  position: absolute;
}
.band-auth .buttons-auth .btn-login-auth {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-auth);
  color: var(--black);
  width: 175px;
  height: 64px;
  top: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
}
.band-auth .buttons-auth .btn-cadastro-auth {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-button-auth);
  border-color: var(--red-button-auth);
  color: var(--black);
  width: 175px;
  height: 64px;
  top: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
}
.band-auth .form-auth {
  width: 350px;
  height: 212px;
  margin-top: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: var(--red-auth);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.band-auth .form-auth .field-auth {
  position: relative;
  flex-direction: column;
  margin-bottom: var(--space);
  background-color: var(--red-auth);
}
.band-auth .form-auth .field-auth .input-auth {
  background-color: var(--white);
  width: 280px;
  height: 50px;
  margin-left: 35px;
  border: 1px solid var(--red-auth);
  border-radius: 10px;
  font-size: 14px;
  padding-top: 35px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.band-auth .form-auth .field-auth label {
  position: absolute;
  color: var(--black);
  font-size: 16px;
  line-height: 18.75px;
  margin-left: 35px;
  padding-top: 10px;
  padding-left: 15px;
}
.band-auth .form-auth .send-auth {
  position: absolute;
  background-color: #101D1D;
  border-color: #101D1D;
  color: white;
  width: 110px;
  height: 48px;
  font-size: 14px;
  line-height: 16.41px;
  border-radius: 10px;
  margin-top: 149px;
  margin-left: 206px;
  cursor: pointer;
}
.band-auth .form-auth .forget-auth {
  background-color: var(--red-auth);
  color: var(--white);
  width: 120px;
  height: 16px;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: none;
  margin-left: 35px;
}

@media (min-width: 1200px) {
  #header-auth .logo-mobile-auth {
    display: none;
  }
  #header-auth .logo-desktop-auth {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 43px;
  }
}
.band-forget {
  min-width: 380px;
  background-color: var(--dark-band);
  position: absolute;
  justify-content: center;
  width: 100vw;
  height: 80px;
  top: 300px;
}
.band-forget .buttons-forget {
  position: absolute;
}
.band-forget .buttons-forget .btn-login-forget {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-button-auth);
  border-color: var(--red-button-auth);
  color: var(--black);
  width: 175px;
  height: 64px;
  top: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
}
.band-forget .buttons-forget .btn-cadastro-forget {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-button-auth);
  border-color: var(--red-button-auth);
  color: var(--black);
  width: 175px;
  height: 64px;
  top: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
}
.band-forget .form-forget {
  width: 350px;
  height: 153px;
  margin-top: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background-color: var(--red-auth);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.band-forget .form-forget .text-forget {
  margin-left: 35px;
  padding-bottom: 10px;
}
.band-forget .form-forget .field-forget {
  position: relative;
  flex-direction: column;
  margin-bottom: var(--space);
  background-color: var(--red-auth);
}
.band-forget .form-forget .field-forget .input-forget {
  background-color: var(--white);
  width: 280px;
  height: 50px;
  margin-left: 35px;
  border: 1px solid var(--red-auth);
  border-radius: 10px;
  font-size: 14px;
  padding-top: 35px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.band-forget .form-forget .field-forget label {
  position: absolute;
  color: var(--black);
  font-size: 16px;
  line-height: 18.75px;
  margin-left: 35px;
  padding-top: 10px;
  padding-left: 15px;
}
.band-forget .form-forget .send-forget {
  position: absolute;
  background-color: #101D1D;
  border-color: #101D1D;
  color: white;
  width: 110px;
  height: 48px;
  font-size: 14px;
  line-height: 16.41px;
  border-radius: 10px;
  margin-top: 98px;
  margin-left: 206px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  #header-auth .logo-mobile-auth {
    display: none;
  }
  #header-auth .logo-desktop-auth {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 43px;
  }
}
.band-registration {
  min-width: 380px;
  background-color: var(--dark-band);
  position: absolute;
  justify-content: center;
  width: 100vw;
  height: 80px;
  top: 300px;
}
.band-registration .buttons-registration {
  position: absolute;
}
.band-registration .buttons-registration .btn-login-registration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-button-auth);
  border-color: var(--red-button-auth);
  color: var(--black);
  width: 175px;
  height: 64px;
  top: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
}
.band-registration .buttons-registration .btn-cadastro-registration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-auth);
  color: var(--black);
  width: 175px;
  height: 64px;
  top: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
}
.band-registration .form-registration {
  width: 350px;
  height: 273px;
  margin-top: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: var(--red-auth);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.band-registration .form-registration .field-registration {
  position: relative;
  flex-direction: column;
  margin-bottom: var(--space);
  background-color: var(--red-auth);
}
.band-registration .form-registration .field-registration .input-registration {
  background-color: var(--white);
  width: 280px;
  height: 50px;
  margin-left: 35px;
  border: 1px solid var(--red-auth);
  border-radius: 10px;
  font-size: 14px;
  padding-top: 35px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.band-registration .form-registration .field-registration label {
  position: absolute;
  color: var(--black);
  font-size: 16px;
  line-height: 18.75px;
  margin-left: 35px;
  padding-top: 10px;
  padding-left: 15px;
}
.band-registration .form-registration .send-registration {
  position: absolute;
  background-color: #101D1D;
  border-color: #101D1D;
  color: white;
  width: 110px;
  height: 48px;
  font-size: 14px;
  line-height: 16.41px;
  border-radius: 10px;
  margin-top: 210px;
  margin-left: 206px;
  cursor: pointer;
}
.band-registration .form-registration .forget-registration {
  background-color: var(--red-auth);
  color: var(--white);
  width: 120px;
  height: 16px;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: none;
  margin-left: 35px;
}

@media (min-width: 1200px) {
  #header-auth .logo-mobile-auth {
    display: none;
  }
  #header-auth .logo-desktop-auth {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 43px;
  }
}
.cards {
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
.cards .card {
  margin: 10px;
  flex-direction: row;
  width: 350px;
  height: 150px;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
}
.cards .card .number-order {
  margin-left: -10px;
  transform: rotate(-90deg);
  font-weight: 600;
  font-size: 24px;
  width: 137px;
}
.cards .card .info-order .order-title {
  margin-left: -90px;
  height: 33px;
  width: 235px;
  background-color: #DD0E0E;
  position: absolute;
  text-transform: uppercase;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.cards .card .info-order .order-title h3 {
  margin-left: 20px;
  font-weight: 600;
}
.cards .card .info-order table {
  margin-top: 38px;
  width: 235px;
  margin-left: -93px;
}
.cards .card .info-order table tr .right {
  text-align: right;
}
.cards .card .btns {
  flex-direction: column;
  border-left: 1px dashed black;
  width: 30px;
  margin-left: 10px;
}
.cards .card .btns a {
  padding: 9px 15px;
}

@media (min-width: 900px) {
  .cards {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
